{{ partial "base/header.html" . }}

{{ partial "base/site-title.html" . }}

{{ partial "base/nav-bar.html" . }}

{{ partial "base/base16-logo.html" . }}

<main role="main" id="card">
  <div id="presentational-container" class="container">
      <div class="row text-center h-100 my-auto">
        <div id="email-full" class="h-100 mx-auto">
          <p class="text-center">
            <nobr>
              me@kevin-mok.com
              <span class="social"><span class="spacing">
                  me</span><span class="link-text">@kevi
                  <a href="https://fosstodon.org/@Kevin"
                    target="_blank" id="mastodon" class="link link-top">
                    <img src="https://kevin-mok.com/img/social/mastodon.svg" alt=""/>
                  </a></span>
              </span>
              <span class="social"><span class="spacing">
                  me@</span><span class="link-text">ke
                  <a href="https://www.linkedin.com/in/Kev-Mok" target="_blank" 
                    target="_blank" class="link linkedin linkedin-left">
                    <img src="https://kevin-mok.com/img/social/linkedin.svg" alt=""/>
                  </a></span>
              </span>
              <span class="social"><span class="spacing">
                  me@kevin</span><span class="link-text">-mo
                  <a href="https://www.linkedin.com/in/Kev-Mok" target="_blank" class="link linkedin linkedin-left"></a></span>
              </span>
              <span class="social"><span class="spacing">
                  me@kev</span><span class="link-text">i
                  <a href="https://www.linkedin.com/in/Kev-Mok" target="_blank" 
                    class="link linkedin linkedin-middle"></a></span>
              </span>
              <span class="social"><span class="spacing">
                  me@</span><span class="link-text">kevin-mo
                  <a href="https://github.com/Kevin-Mok" target="_blank" id="github" class="link">
                    <img src="https://kevin-mok.com/img/social/github.svg" alt=""/>
                  </a></span>
              </span>
              <span class="social"><span class="spacing">
                  me@</span><span class="link-text">kevin-mok.co
                  <a href="https://kevin-mok.com/" target="_blank" id="site" class="link">
                    <img src="https://kevin-mok.com/img/resume/link.svg" alt=""/>
                  </a></span>
              </span>
              <span class="social"><span class="link-text">me@kevin-mok.co
                  <a href="mailto:me@kevin-mok.com" target="_blank" id="email" class="link link-top">
                    <img src="https://kevin-mok.com/img/resume/envelope.svg" alt=""/>
                  </a></span>
              </span>
            </nobr>
          </p>
        </div>
      </div>
  </div>
</main>

{{ partial "base/footer.html" . }}
