<div id="contact-info">
  <div id="phone-number">
    <img src="{{ "img/resume/smartphone.svg" | relURL }}"
    alt="smartphone-icon">:
    <a href="tel:647-685-2500" target="_blank">647-685-2500</a>
  </div>
  <div id="email">
    <img src="{{ "img/resume/envelope.svg" | relURL }}" alt="envelope-icon">:
    <a href="mailto:me@kevin-mok.com">me@kevin-mok.com</a>
  </div>
  <div id="website">
    <img src="{{ "img/resume/link.svg" | relURL }}" alt="link-icon">:
    <a href="https://kevin-mok.com/">kevin-mok.com</a>
  </div>
</div>
