<div id="about">
<!-- <h1 class="headline">About</h1> -->
<h1>Welcome to my site!</h1>
<p>
  I'm Kevin Mok, a 2<sup>nd</sup> year Computer Science student at the University of Toronto.
  I'm interested in all things Linux-related and 
  <a href="https://www.gnu.org/philosophy/floss-and-foss.en.html"
    target="_blank">FOSS/FLOSS</a>.
</p>

<div class="me-equation">
  <a href="https://www.gnu.org/" target="_blank">
    <img src="{{ "img/gnu.svg" | relURL }}" id="gnu" alt="gnu-logo">
  </a>
  <p>+</p>
  <img src="{{ "img/linux-icon.svg" | relURL }}" alt="linux-logo">
  <p>+</p>
  <img src="{{ "img/uoft-logo.svg" | relURL }}" alt="linux-logo">
  <p>=</p>
  <img src="{{ "img/hexatar.png" | relURL }}" alt="linux-logo">
</div>
</div>
