<div class="me-equation">
  <div class="equation-part">
    <a href="https://www.gnu.org/" target="_blank">
      <img src="{{ "img/gnu.svg" | relURL }}" id="gnu" alt="gnu-logo">
    </a>
    <p>+</p>
  </div>
  <div class="equation-part">
  <img src="{{ "img/linux-icon.svg" | relURL }}" alt="linux-logo">
  <p>+</p>
  </div>
  <div class="equation-part" id="uoft-part">
  <img src="{{ "img/uoft-logo.svg" | relURL }}" alt="uoft-logo">
  <p>=</p>
  </div>
  <div class="equation-part">
  <img src="{{ "img/hexatar.png" | relURL }}" id="hexatar" alt="my-avatar">
  </div>
</div>
