<div id="about">
<h2>Welcome to my site!</h2>
<p>
  I'm Kevin Mok. Here are a few things about myself!
  <ul>
    <li>I'm an Ex-Cloud Engineer Intern at 
      <a href="https://www.redhat.com/" target="_blank">Red Hat</a>.
    </li>
    <li>
      I'm a Computer Science student at the University of
      Toronto, graduating at the end of 2023 (currently
      looking for a full-time position!).
    </li>
    <li>
      I'm greatly interested in all things Linux and 
      <a href="https://www.gnu.org/philosophy/floss-and-foss.en.html"
        target="_blank">FOSS/FLOSS</a>.
    </li>
  </ul>
</p>

{{ partial "home/me-equation.html" . }}
</div>
