<div class="me-equation">
  <div class="equation-part">
    <a href="https://www.redhat.com/" target="_blank">
      <img src="{{ "img/home/red-hat.svg" | relURL }}"
      alt="red-hat-logo">
    </a>
  <p>+</p>
  </div>
  <div class="equation-part" id="uoft-part">
    <a href="https://www.utoronto.ca/" target="_blank">
      <img src="{{ "img/home/uoft-logo.svg" | relURL }}" alt="uoft-logo">
    </a>
    <p>+</p>
  </div>
  <div class="equation-part">
    <a href="https://www.gnu.org/" target="_blank">
      <img src="{{ "img/home/gnu.svg" | relURL }}" id="gnu" alt="gnu-logo">
    </a>
  </div>
  <p>=</p>
  <div class="equation-part">
  <img src="{{ "img/home/hexatar.png" | relURL }}" id="hexatar" alt="my-avatar">
  </div>
</div>
