</div>

{{- range .Params.js }}
<script src="/{{ . }}.js"></script>
{{- end }}

<footer>
  <div class="container">
    <!-- <span class="copyright">&copy; {{ .Site.LastChange.Year }} {{ .Site.Title }} - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span> -->
    <div id="footer-row" class="row justify-content-center">
      <span id="footer-content" class="name">
        <span id="copyright" class="col-xs-6">
          &copy; {{ now.Year }} {{ .Site.Title }} · 
          <!-- <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> ·  -->
          <!-- <a href="{{ "credits" | relURL }}">Credits</a> ·  -->
        </span>
        <span id="social-icons" class="col-xs-4">
          <a href="https://github.com/Kevin-Mok" target="_blank">
            <img src="{{ "img/social/github.svg" | relURL }}"
            alt="github-logo">
          </a>
          <a href="https://git.kevin-mok.com/Kevin-Mok?tab=activity" target="_blank">
            <img src="{{ "img/social/gitea.svg" | relURL }}" alt="gitea-logo">
          </a>
          · 
          <a href="https://twitter.com/Kev_Mok" target="_blank">
            <img src="{{ "img/social/twitter.svg" | relURL }}"
            alt="twitter-logo">
          </a>
          <a rel="me" href="https://fosstodon.org/@Kevin" target="_blank">
            <img src="{{ "img/social/mastodon.svg" | relURL }}"
            alt="mastodon-logo">
          </a>
          <a href="https://www.reddit.com/u/Kevin-Mok" target="_blank">
            <img src="{{ "img/social/reddit.svg" | relURL }}"
            alt="reddit-logo">
          </a>
          . 
          <a href="https://www.linkedin.com/in/Kev-Mok" target="_blank">
            <img src="{{ "img/social/linkedin.svg" | relURL }}" alt="linkedin-logo">
          </a>
          <a href="mailto:me@kevin-mok.com" target="_blank">
            <img src="{{ "img/social/email.svg" | relURL }}"
            alt="envelope">
          </a>
        </span>
        <span class="col-xs-2">
        </span>
      </span>
    </div>
  </div>
</footer>

</body>
</html>
